.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    margin: 20px;
}

.action-box {
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

input {
    display: block;
    margin: 4px;
    /* field-sizing: content; */
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}